/*
COLOR PALETTE
#FFCB05 - Pokemon Yellow
#2A75BB - Pokemon Blue
#343434 - dark gray, almost black
*/

header {
    color: #FFFFFF;
    background: #343434;
    margin-bottom: 40px;
}

p {
    font-size:20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.prev_next {
    margin-left: 200px;
}

.detail_text {
    margin-top: 30px;
    margin-left: 75px;
}

.flex-container {
    display: flex;
    padding-top: 35px;
}

.flex-child {
    padding-left: 75px;
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.custom_header {
    padding: 30px;
    padding-left: 75px;
    text-align: center;
}

.custom_header .detail {
    text-align: left;
    padding-left: 165px;
    
}

.col {
    width: 75px;
    float: left;
}

.type_h1 {
    text-align: center;
}

.home_img {
    width: 1000px;
}

.type_img {
    margin: auto;
    width: 250px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.search_result_msg {
    text-align: center;
    padding: 50px;
}

.content_wrap {
    width: 515px;
}

